.index-table-frame {
    width: 80%;
}
h1 {
    text-align: center;
    margin: 20px auto;
}
.tab-content {
    margin: 15px;
}
.index-table-frame {
    padding: 15px;
}
.song-title .chevron::after {
    content: "\f078";
}
.song-title.collapsed .chevron::after {
    content: "\f054";
}
.vertically-centered {
    display: flex;
    align-items: center;
}
form.button-frame, div#download-button-container {
    margin: 10px auto;
}
span.dropdown-item {
    cursor: pointer;
}
span.disabled {
    cursor: not-allowed;
}
nav > div {
    padding: 0 15px !important;
}
footer {
    text-align: center;
}
.song-place-frame, .song-title-frame {
    padding: 15px;
}
.song-title-card {
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 3px auto;
}
