{% extends "layout.html" %}

{% set add_song_url = url_for("add_song_to_collection") %}
{% set clear_collection_url = url_for("clear_collection") %}

{% block head %}
    <script src="{{ url_for("static", filename="scripts/init_page.js") }}" defer></script>
    <script src="{{ url_for("static", filename="scripts/collecting_songs.js") }}" defer></script>
    <script src="{{ url_for("static", filename="scripts/main.js") }}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url_for("clear_collection") }}" method="post">
            <button class="btn btn-danger" type="submit" id="clear-collection-button">
            Énekrend kiürítése
            </button>
        </form>
    </div>
    <div class="container index-table-frame" data-root-url="{{ root_url }}"
         data-add-song-url="{{ add_song_url }}" data-clear-collection-url="{{ clear_collection_url }}">

        {% for dict_of_song in list_of_songs %}
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="song-title flex-grow-1 collapsed vertically-centered"
                         data-toggle="collapse" data-target="{{ "#song-" ~ dict_of_song["id"] ~ "-details" }}"
                         data-id="{{ dict_of_song["id"] }}">
                        <i class="chevron fa fa-fw"></i> {{ dict_of_song["title"] }}
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle choose-song-place-button" type="button" data-toggle="dropdown"
                                id="{{ "song-" ~ dict_of_song["id"] ~ "-dropdown-button" }}">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right"> <!-- TODO: put dropdown items into a loop -->
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Bevonulás</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Uram irgalmazz</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Dicsőség</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Olvasmányközi ének</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Alleluja</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Felajánlás</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Szent vagy</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Isten Báránya</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Áldozás</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Kivonulás</a>
                            <a href="#" class="dropdown-item" data-id="{{ dict_of_song["id"] }}">Egyéb</a>
                        </div>
                    </div>
                </div>
                <div class="card-body song-details collapse" id="{{ "song-" ~ dict_of_song["id"] ~ "-details" }}">
                    <div class="song-details-book"><p></p></div>
                    <div class="song-details-lyrics"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}