{% extends "layout.html" %}


{% block head %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.amd.min.js"></script>#}
    <script src="{{ url_for("static", filename="scripts/init_page.js") }}" defer></script>
    <script src="{{ url_for("static", filename="scripts/collecting_songs.js") }}" defer></script>
    <script src="{{ url_for("static", filename="scripts/downloader.js") }}" defer></script>
    <script src="{{ url_for("static", filename="scripts/main.js") }}" defer></script>
{% endblock %}

{% block content %}
    <nav>
        <div class="container nav nav-tabs" role="tablist">
            <a href="#songs-tab" class="nav-item nav-link flex-sm-fill text-sm-center active" data-toggle="tab" role="tab">Dalok</a>
            <a href="#collection-tab" class="nav-item nav-link flex-sm-fill text-sm-center" data-toggle="tab" role="tab">Énekrend</a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="container index-table-frame tab-pane fade show active" id="songs-tab" role="tabpanel"
             data-root-url="{{ root_url }}"
             data-add-song-url="{{ url_for("add_song_to_collection") }}"
             data-remove-song-url="{{ url_for("remove_song_from_collection") }}"
             data-clear-collection-url="{{ url_for("clear_collection") }}"
             data-download-slides-url="{{ url_for("download_slides") }}">
            <form action="{{ url_for("clear_collection") }}" method="post" class="button-frame">
                <button class="btn btn-danger" type="submit" id="clear-collection-button">
                    Énekrend kiürítése
                </button>
            </form>

            {% for dict_of_song in list_of_songs %}
                {% set song_id = dict_of_song["id"] %}
                <div class="card" id="{{ "song-" ~ song_id ~ "-card" }}">
                    <div class="card-header d-flex justify-content-between">
                        <div class="song-title flex-grow-1 collapsed vertically-centered"
                             data-toggle="collapse" data-target="{{ "#song-" ~ song_id ~ "-details" }}"
                             data-id="{{ song_id }}">
                            <i class="chevron fa fa-fw"></i> {{ dict_of_song["title"] }}
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle choose-song-place-button" type="button"
                                    data-toggle="dropdown" id="{{ "song-" ~ song_id ~ "-dropdown-button" }}">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% for item in list_of_places %}
                                <span class="dropdown-item add-to-collection"
                                      data-id="{{ song_id }}" data-title="{{ dict_of_song["title"] }}"
                                      data-place-id="{{ item["id"] }}">{{ item["place"] }}</span>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                <span class="dropdown-item disabled drop-from-collection" id="{{ "drop-song-" ~ song_id }}"
                                      data-id="{{ song_id }}">Kiválasztás törlése</span>

                            </div>
                        </div>
                    </div>
                    <div class="card-body song-details collapse" id="{{ "song-" ~ song_id ~ "-details" }}">
                        <div class="song-details-book"><p></p></div>
                        <div class="song-details-lyrics"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container tab-pane fade index-table-frame" id="collection-tab" role="tabpanel">
{#            <p id="collection-placeholder">Még nincs dal az énekrendben</p>#}
            <form action="{{ url_for("download_slides") }}" method="get"
                  class="button-frame" id="download-button-container">
                <button class="btn btn-success" id="download-slides-button" type="submit">Diák letöltése</button>
            </form>

            {% for item in list_of_places %}
            <div class="card">
                <div class="row no-gutters collection-tab-row" id="{{ "collection-tab-row-" ~ item["id"] }}">
                    <div class="collection-tab-place-col col-sm-6">
                        <div class="song-place-frame">{{ item["place"] }}:</div>
                    </div>
                    <div class="collection-tab-song-col col-sm-6">
                        <div class="song-title-frame"></div>
                    </div> {# TODO: show book & song number #}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- TODO: implement choosing option between regular and custom énekrend -->
    {#
    <script id="selected-song-template" type="text/x-handlebars-template">
        <div class="row">
            <div class="collection-tab-place-col col-md-6">{{ place }}</div>
            <div class="collection-tab-song-col col-md-6">{{ song_title }}</div>
        </div>
    </script>
    #}
{% endblock %}